<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medipet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camara"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/medipetlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediPet"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity_cita"
            android:exported="false" />
        <activity
            android:name=".Pajaro"
            android:exported="false" />
        <activity
            android:name=".Gato"
            android:exported="false" />
        <activity
            android:name=".Perro"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Usuario"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".activity_ubicacion"
            android:exported="false" />
        <activity
            android:name=".activity_dialog_cita"
            android:exported="false" />
        <activity
            android:name=".NoMover"
            android:exported="false" />
        <activity
            android:name=".MainActivityKJ"
            android:exported="false" />
        <activity
            android:name=".activity_sucursales"
            android:exported="false" />
        <activity
            android:name=".FormPerroKJ"
            android:exported="false" />
        <activity
            android:name=".Carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>